@model TastyFood.Models.OrderDetailsViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <h2>Your Shopping Cart</h2>
    <br />

    @if (Model.listCart.Count > 0)
    {
        <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
        <div class="border border-info" style="padding: 15px;">

            <div class="container">
                <table class="table table-striped" style="width: 100%;">
                    <tr>
                        <th></th>
                        <th style="width: 70px; text-align: center;">
                            <label asp-for="@Model.listCart.FirstOrDefault().MenuItem.Price"></label>
                        </th>
                        <th style="width: 70px; text-align: center;">
                            <label asp-for="@Model.listCart.FirstOrDefault().Count"></label>
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.listCart)
                    {
                        <tr style="padding: 50px;">
                            <td>
                                <b>@Html.DisplayFor(p => item.MenuItem.Name)</b>
                                <br />
                                @Html.DisplayFor(p => item.MenuItem.Description)
                            </td>
                            <td style="width: 70px; text-align: center;">
                                @Html.DisplayFor(p => item.MenuItem.Price)
                            </td>
                            <td style="width: 70px; text-align: center;">
                                @Html.DisplayFor(p => item.Count)
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" asp-action="plus" asp-route-cartId="@item.Id">
                                    <i class="fas fa-plus"></i>
                                </button>

                                <button type="submit" class="btn btn-danger" asp-action="minus" asp-route-cartId="@item.Id">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>            
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <label class="custom-label">Coupon Code: </label>
                    </div>
                    <div class="col-2">
                        <input asp-for="@Model.OrderHeader.CouponCode" id="txtCouponCode" class="form-control" />
                    </div>
                    <div class="col-2">
                        <input value="Apply" type="button" id="btnApplyCoupon"
                               class="btn btn-sm btn-success" />
                        <a asp-action="Index" asp-controller="Carts" id="btnRemoveCoupon" class="btn btn-sm btn-success" style="display: none;">Remove</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="custom-label">Order Total: </label>
                    </div>
                    <div class="col-3">
                        <input asp-for="@Model.OrderHeader.OrderTotal" readonly id="txtOrderTotal" class="form-control" />
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <label class="custom-label">Pick Up Time: </label>
                    </div>
                    <div class="col-3">
                        <input asp-for="@Model.OrderHeader.PickupTime" id="timepicker" value="" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="custom-label">Comments: </label>
                    </div>
                    <div class="col-10">
                        <textarea asp-for="@Model.OrderHeader.Comments" style="height: 100px;" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row" style="padding-top: 5px;">
                    <div class="col-2"></div>
                    <div class="col-5">
                        <label class="text-danger" id="lblShopClosed" style="display: none;">Restaurant is closed for the day!</label>
                    </div>
                    <div class="col-5 text-right">
                        <button id="btnPlaceOrder" onclick="return validateInput()"
                                value="Place Order" class="btn btn-success" type="submit">
                            Place Order
                        </button>
                    </div>
                </div>
            </div>

        </div>

    }
    else
    {
        <div>No item added to the Shopping Cart...</div>
    }
</form>


@section Scripts{ 

    <script>

        function validateInput() {
            var time = document.getElementById("timepicker").value;
            if (time.toString() == '') {
                alert("Please select pickup time!");
                return false;
            }
            else {
                return true;
            }
        }
        
        $(document).ready(function () {
            var curDT = new Date();

            // 12PM - 10PM
            var minTime = "";
            if (curDT.getHours() < 11) {
                minTime = '12:00 PM';
            }
            else {
                if (curDT.getMinutes() < 30) {
                    minTime = (curDT.getHours() + 1).toString() + ':30 PM';
                }
                else {
                    minTime = (curDT.getHours() + 2).toString() + ':00 PM';
                }
            }

            if (curDT.getHours() > 20) {
                // No More Orders
                $('#timepicker').prop('disabled', true);
                $('#btnPlaceOrder').prop('disabled', true);
                $('#lblShopClosed').show();
            }

            $('#timepicker').timepicker({
                'minTime': minTime,
                'maxTime': '20:00 PM'
            });

        })

        $('#btnApplyCoupon').click(function () {
            var couponCode = document.getElementById("txtCouponCode").value;
            var orderTotal = document.getElementById("txtOrderTotal").value;
            
            $.ajax({
                url: '/api/CouponAPI?orderTotal=' + orderTotal + '&couponCode=' + couponCode,
                type: 'GET',
                dataType: 'text',
                success: function (data, textStatus, xhr) {
                    var splitData = data.split(":");

                    if (splitData[1] == 'E') {
                        // Error
                        alert("Coupon is either invalid or does not meet the criteria!");
                    }
                    else {
                        // Success
                        $('#txtOrderTotal').attr('value', Math.round(splitData[0] * 100) / 100);
                        
                        document.getElementById("txtCouponCode").readOnly = true;
                        document.getElementById("btnApplyCoupon").style.display = 'none';
                        document.getElementById("btnRemoveCoupon").style.display = '';
                    }
                }

            });

        });

    </script>

}
